header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
}
img {
    cursor: pointer;
}
button {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #A8AEBF;
    padding: 12px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    cursor: pointer;
}
button.active p, button.active a{
    color: var(--warning);
}
button:hover p, button:hover a {
    color: #ddd;
}
button p {
    font-weight: 600;
    font-size: 24px;
}
button p.left {
    margin-left: 10px;
}
button p.right {
    margin-right: 10px;
}
   