<header>
    <img class="logo" src="../../assets/logo.svg" alt="" routerLink="/">
    <nav>
        <ng-container *ngIf="authService.isLoggedIn | async; else unloggued">
            <button 
                routerLink="dashboard"
                routerLinkActive="active">
                    <a>Dashboard</a>
            </button>
            <button
                routerLink="list"
                routerLinkActive="active">
                    <a>Mi lista</a>
            </button>
            <button (click)="logout()"
                routerLinkActive="active">
                    <p class="icon-web right">9</p>
                    <a>Salir</a>
            </button>
        </ng-container>
    </nav>
</header>

<ng-template #unloggued>
    <button 
        routerLink="movies"
        routerLinkActive="active">
            <a>Películas</a>
    </button>
    <button
        routerLink="series"
        routerLinkActive="active">
            <a>Series</a>
    </button>
    <button
        routerLink="login"
        routerLinkActive="active">
            <a>Ingresar</a>
            <p class="icon-web left">5</p>
    </button>    
</ng-template>