<h2>Mi lista</h2>
<section>
    <div class="list-movies">
        <ng-container *ngFor="let movie_serie of movies_series">
            <app-card [movie]="movie_serie" [userId]="userId"></app-card>
        </ng-container>
    </div>
</section>