<div class="search">
    <input 
        type="text"
        name="search"
        placeholder="Buscar películas y series"
        [(ngModel)]="toSearch"
        (ngModelChange)="handleSearch()"
    />
    <p class="icon-web">I</p>
</div>