<div class="card {{movie.media_type}}">
    <div (click)="goTo(movie.media_type, movie.id)">
        <input type="hidden">
        <div class="img" style="background-image: url({{movieImg}})"></div>
        <div>
            <h4>{{movie.title}}{{movie.name}}</h4>
        </div>
        <p class="rate"><span class="icon-web">G</span>{{movie.vote_average}}</p>
    </div>
    <button
        [ngClass]="{'list':true, 'added':added}"
        *ngIf="userId !== ''"
        (click)="handleListClick()"
    >
        <ng-container *ngIf="!added; else delete">+ Agregar a mi lista</ng-container>
    </button>
</div>

<ng-template #delete>
    <span class="icon-web">b</span> Eliminar de mi lista
</ng-template >