.card {
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    cursor: pointer;
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
}
.card:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.card:hover .img {
    background-size: 102%;
}
.img {
    margin-bottom: 28px;
    width: 266px;
    height: 400px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: background-size .3s;
    -webkit-transition: background-size .3s;
    -moz-transition: background-size .3s;
    -ms-transition: background-size .3s;
    -o-transition: background-size .3s;
}
h4 {
    margin: 0 16px;
    padding-bottom: 16px;
    color: #EBEEF5;
    font-weight: 600;
    font-size: 16px;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rate {
    position: absolute;
    padding: 4px 8px;
    top: 18px;
    left: 16px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    color: var(--warning);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.rate span {
    color: var(--warning);
    font-size: 20px;
    margin-right: 5px;
}

button.list span {
    font-size: 1.3rem;
}

@media screen and (max-width: 1226px) {
    .img {
        width: 19rem;
        height: 28.5rem;
    }
}
@media screen and (max-width: 1072px) {
    .img {
        width: 12rem;
        height: 18rem;
    }
}
@media screen and (max-width: 480px) {
    .img {
        width: 19rem;
        height: 28.5rem;
    }
}
@media screen and (max-width: 480px) {
    .list-movies {
        justify-content: center;
    }
}