/* Configuración del body */
body {
    font-size: 14.98px;
    width: 100%;
    background-color: slategrey;
}
/*App container*/
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
.content {
    max-width: 1440px;
    padding-left:120px;
    padding-right:120px;
    margin: auto;
  }
  
@media screen and (max-width: 910px) {
  .content { 
    padding: 0 5%;
  }
}