div {   
    margin-top: 64px;
}
h1 {
    color: var(--gray-50);
}
p {
    color: var(--gray-200);
}
.list-movies {
    width: 100%;
    margin-top: 24px;
    padding-bottom: 136px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
}

div.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
    margin-top: 80px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
button {
    background: transparent;
    font-weight: 600;
    margin: 0 2px;
}
button:hover {
    color: var(--white);
    background-color: var(--primary);
}
button:active, .active {
    color: var(--white);
    background-color: var(--primary-400);
}