<div id="list">
    <p class="extra-small">PelisUP!</p>
    <h1>{{routeUrl}}</h1>
</div>
<app-search-bar (search)="searchNow($event)"></app-search-bar>
<div>
    <div class="list-title">
        <p class="cant">{{totalList}} items</p>
    </div>
    <div class="list-movies">
        <ng-container *ngFor="let movie_serie of showList">
            <app-card [movie]="movie_serie" [type]="filter"></app-card>
        </ng-container>
    </div>
</div>
<div class="pagination">
    <button (click)="toPageArrow('-')" ng-disabled="true" class="collapsed"><<</button>
    <ng-container *ngFor="let page of info.pagination">
        <button (click)="toPage(page)" [ngClass]="{'active': info.page === page}">{{page}}</button>
    </ng-container>
    <button (click)="toPageArrow('+')" [ngClass]="{'disabled': info.page >= info.totalPage - 3}" class="collapsed">>></button>
</div>