<div class="background-container">
    <div class="background">
        <div class="vector3"></div>
        <div class="vector4"></div>
        <div class="vector6"></div>
        <div class="elipse5"></div>
        <div class="elipse6"></div>
        <div class="elipse8"></div>
    </div>
</div>