<h2>Bienvenido</h2>
<section>
    <div class="list">
        <h3>{{peliculas}}</h3>
        <p>Películas</p>
    </div>
    <div class="list">
        <h3>{{series}}</h3>
        <p>Series</p>
    </div>
</section>