h2 {
    margin-top: 80px;
    margin-bottom: 40px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 152px;
    background-color: var(--gray-900);
    width: 49%;
}

p {
    color: var(--gray-400);
}