<div class="img-container">
    <div class="filter"></div>
    <div class="head-img" style="background-image: url(https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/{{movie?.backdrop_path}})"></div>
    <div class="title">
        <p class="extra-small">MaileHereko / TV Shows</p>
        <h3>{{movie?.title}}{{movie?.name}}</h3>
    </div>
</div>
<div class="content">
    <div class="content-img" style="background-image: url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{movie?.poster_path}})"></div>
    <div class="info-content">
        <h4>{{movie.tagline}}</h4>
        <p class="large">{{movie.overview}}</p>
        <div class="rate"><span class="icon-web">G</span>{{movie.vote_average}}</div>
        <table *ngIf="type === 'tv'">
            <tr>
                <td class="w50">
                    <p class="small gray">Type</p>
                    <p class="large">{{typeToShow}}</p>
                </td>
                <td class="w50">
                    <p class="small gray">Status</p>
                    <p class="large">{{movie.status}}</p>
                </td>
            </tr>
            <tr>
                <td class="w50">
                    <p class="small gray">First air date</p>
                    <p class="large">{{movie.first_air_date}}</p>
                </td>
                <td class="w50">
                    <p class="small gray">Last air date</p>
                    <p class="large">{{movie.last_air_date}}</p>
                </td>
            </tr>
            <tr>
                <td class="w50">
                    <p class="small gray">No. of Seasons</p>
                    <p class="large">{{movie.number_of_seasons}}</p>
                </td>
                <td class="w50">
                    <p class="small gray">No. of episodes</p>
                    <p class="large">{{movie.number_of_episodes}}</p>
                </td>
            </tr>
            <tr>
                    <p class="small gray">Episode run time</p>
                    <p class="large">{{movie.episode_run_time}} min</p>
            </tr>
            <tr>
                    <p class="small gray">Genres</p>
                    <p class="large">{{getGeners(movie.genres)}}</p>
            </tr>
        </table>
        <table *ngIf="type === 'movie'">
            <tr>
                <td>
                    <p class="small gray">Type</p>
                    <p class="large">{{typeToShow}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="small gray">Release Date</p>
                    <p class="large">{{movie.release_date}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="small gray">Run time</p>
                    <p class="large">{{movie.runtime}} min</p>
                </td>
            </tr>
            <tr>
                    <p class="small gray">Genres</p>
                    <p class="large">{{getGeners(movie.genres)}}</p>
            </tr>
        </table>
    </div>
</div>
