.img-container {
    position: relative;
    margin-bottom: 72px;
}
.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.head-img {
    width: 100%;
    height: 480px;
    margin-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    opacity: 1;
}
.title {
    position: absolute;
    width: 500px;
    height: 144px;
    left: 78px;
    bottom: -72px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(24px);
    padding: 40px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.title p {
    margin-left: 8px;
}
.title h3 {
    margin-top: 8px;
}

.content-img {
    width: 480px;
    height: 720px;
    margin: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.info-content {
    max-width: 480px;
    margin-top: 80px;
}
.large {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.rate {
    position: relative;
    margin: 28px 0;
    padding: 4px 8px;
    width: fit-content;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    color: var(--warning);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.rate span {
    color: var(--warning);
    font-size: 20px;
    margin-right: 5px;
}
.gray {
    color: var(--gray-400);
}
table {
    width: 100%;
}
.large {
    margin-bottom: 24px;
}
td.w50 {
  width: 50%;
}