<section>
    <span class="background">
        <img src='../../../../assets/sali-login.png' alt="login image">
    </span>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Ingresar</h1>
        <div>
            <input 
                type="email"
                formControlName="email"
                placeholder=""
                [ngClass]="{'border-red': campoEsValido('email')}"
            >
            <label for="search">Email</label>
            <i class="icon-web">F</i>
            <p class="small" *ngIf="campoEsValido('email')">Debe ingresar un correo válido</p>
        </div>

        <div>
            <input 
                type={{password.type}}
                formControlName="password" 
                placeholder=""
                class="password"
                [ngClass]="{'border-red': campoEsValido('password')}"
            >
            <label for="search">Contraseña</label>
            <i class="icon-web">0</i>
            <i class="icon-web right" (click)="showPassword()">{{password.icon}}</i>
            <p class="small" *ngIf="campoEsValido('password')">Al menos 8 caracteres</p>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Ingresar</button>
        <button type="button" class="button" (click)="ingresarConGoogle()">
            <img src="https://www.pngplay.com/wp-content/uploads/13/Google-Logo-PNG-Photo-Image.png" alt="Google">
            <span>Iniciar con Google</span>
        </button>
    </form>
</section>