section {
    display: flex;
    justify-content: space-around;
}
span.background {
    position: relative;
}
span.background::after {
    content: "";
    position: absolute;
    background-color: var(--gray-900);
    width: 384px;
    height: 560px;
    top: 0;
    left: 0;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    z-index: -1;
}
form {
    height: 100%;
}
div {
    position: relative;
    margin-top: 16px;
}
h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}
input {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    color: #475069;
    height: 64px;
    min-width: 344px;
    border: 1px solid #323B54;
    box-sizing: border-box;
    padding: 24px 57px;
    font-size: 16px;

    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
i {
    position: absolute;
    display: flex;
    align-items: center;
    height: 36px;
    color: #475069;
    top: 14px;
    left: 17px;
    font-size: 36px;
    font-style: normal;
}
i.right {
    left: auto;
    right: 17px;
    cursor: pointer;
    font-style: normal;
}
i.right:hover {
    color: var(--white);
}
p {
    display: none;
    position: absolute;
    background-color: #262626;
    border: 2px solid var(--error-500);
    z-index: 9999;
    padding: 5px 10px;
    border-radius: 5px;
    left: 14px;
    bottom: -20px;
    color: var(--error-500);
    font-weight: 600;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.3);
}
p::after {
    content: "";
    position: absolute;
    border-top: 2px solid var(--error-500);
    border-left: 2px solid var(--error-500);
    width: 9px;
    height: 9px;
    background-color: #262626;
    top: -7px;
    left: 49px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
input:focus ~ p {
    display: block;
}
.border-red, 
.border-red:focus,
.border-red:focus-visible,
.border-red:active {
    border: 2px solid var(--error-500)!important;
    outline: none;
}
label {
    color: #475069;
    position: absolute;
    left: 58px;
    top: 21px;
    font-size: 16px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    z-index: -1;
}
input:focus {
    color: #ddd;
    padding-top: 38px;
    padding-bottom: 22px;
}
input:focus ~ i {
    color: #ddd;
}
input:not(:placeholder-shown):not(:focus) {
    padding-top: 38px;
    padding-bottom: 22px;
}
input:focus ~ label,
input:not(:placeholder-shown):not(:focus) ~ label {
    top: 12px;
    font-size: 12px;
}
button {
    width: 100%;
    margin-top: 40px;
}

.button {
    display: flex;
    align-items: center;
    margin: 15px auto;
    width: fit-content;
    background: transparent;
    padding: 10px;
}
.button:hover, .button:active {
    background-color: rgba(0, 0, 0, 0.2);
}
.button img {
    width: 45px;
    height: 45px;
}
.button span {
    font-size: 16px;
    font-weight: 500;
    margin: 0 5px;
}

@media screen and (max-width: 990px) {
    span {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    form {
        width: 100%;
        padding: 2.5%;
    }
    input {
        min-width: 0;
        width: 100%;
    }
}