@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@font-face {
  font-family: Iconsweb;
  src: url("./assets/fonts/Icons_web-Regular.otf") format("opentype");
  src: url("./assets/fonts/Icons_web-Regular.ttf") format("opentype");
}

:root {
  /* Primary Color */
    --primary: var(--primary-500);
    --primary-900: #120F31;
    --primary-800: #251E62;
    --primary-700: #362C92;
    --primary-600: #483BC3;
    --primary-500: #5A4AF4;
    --primary-400: #7B6EF6;
    --primary-300: #9C92F8;
    --primary-200: #BEB7FB;
    --primary-100: #DEDBFD;
    --primary-50: #EBE9FE;
  /* Secondary Color */
    --secondary: var(--secondary-500);
    --secondary-900: #062032;
    --secondary-800: #0C4265;
    --secondary-700: #126297;
    --secondary-600: #1884CA;
    --secondary-500: #1EA5FC;
    --secondary-400: #4BB7FD;
    --secondary-300: #78C8FD;
    --secondary-200: #A5DBFE;
    --secondary-100: #D2ECFE;
    --secondary-50: #E4F4FF;
  /* Tertary Color */
    --tertary: var(--tertary-500);
    --tertary-900: #241633;
    --tertary-800: #492C66;
    --tertary-700: #6D4199;
    --tertary-600: #9257CC;
    --tertary-500: #B66DFF;
    --tertary-400: #C58AFF;
    --tertary-300: #D3A7FF;
    --tertary-200: #E2C5FF;
    --tertary-100: #F0E2FF;
    --tertary-50: #F6EDFF;
  /* Success Color */
    --success: var(--success-500);
    --success-900: #01291D;
    --success-800: #02523A;
    --success-700: #037C57;
    --success-600: #04A574;
    --success-500: #05CE91;
    --success-400: #37D8A7;
    --success-300: #69E2BD;
    --success-200: #9BEBD3;
    --success-100: #CDF5E9;
    --success-50: #E1F9F2;
  /* Error Color */
    --error: var(--error-500);
    --error-900: #331313;
    --error-800: #662727;
    --error-700: #993A3A;
    --error-600: #CC4E4E;
    --error-500: #FF6161;
    --error-400: #FF8181;
    --error-300: #FFA0A0;
    --error-200: #FFC0C0;
    --error-100: #FFDFDF;
    --error-50: #FFECEC;
  /* Warning Color */
    --warning: var(--warning-500);
    --warning-900: #33230F;
    --warning-800: #66451D;
    --warning-700: #99682C;
    --warning-600: #CC8A3A;
    --warning-500: #FFAD49;
    --warning-400: #FFBD6D;
    --warning-300: #FFCE92;
    --warning-200: #FFDEB6;
    --warning-100: #FFEFDB;
    --warning-50: #FFF5E9;
  /* Gray Color */
    --gray: var(--gray-500);
    --gray-900: #121829;
    --gray-800: #20283E;
    --gray-700: #323B54;
    --gray-600: #475069;
    --gray-500: #61697F;
    --gray-400: #767E94;
    --gray-300: #8E95A9;
    --gray-200: #A8AEBF;
    --gray-100: #C3C8D4;
    --gray-50: #EBEEF5;

  /* Black Opacity */
    --black: #000000;
    --black-90: rgba(0,0,0,.9);
    --black-80: rgba(0,0,0,.8);
    --black-70: rgba(0,0,0,.7);
    --black-60: rgba(0,0,0,.6);
    --black-50: rgba(0,0,0,.5);
    --black-40: rgba(0,0,0,.4);
    --black-30: rgba(0,0,0,.3);
    --black-20: rgba(0,0,0,.2);
    --black-10: rgba(0,0,0,.1);
  /* White Opacity */
  --white: #FFFFFF;
  --white-90: rgba(255,255,255,.9);
  --white-80: rgba(255,255,255,.8);
  --white-70: rgba(255,255,255,.7);
  --white-60: rgba(255,255,255,.6);
  --white-50: rgba(255,255,255,.5);
  --white-40: rgba(255,255,255,.4);
  --white-30: rgba(255,255,255,.3);
  --white-20: rgba(255,255,255,.2);
  --white-10: rgba(255,255,255,.1);
}
/* Resetting all document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Setting Icon class */
.icon-web {
  font-family: Iconsweb;
  font-size: normal;
}

/* Setting document fonts*/
h1 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 2%;
}
h2 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 2%;
}
h3 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2%;
}
h4 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1.5%;
}
h5 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1.5%;
}
h6 {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.5%;
}

p {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}
p.large {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}
p.small {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
}
p.extra-small {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}
span {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4%;
}
span.small {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
}

a {
  color: var(--gray-100);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
a.small {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2%;
}
a.extra-small {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2%;
}

/* Buttons */
button, button:active {
  border: none;
  padding: 16px 32px;
  background-color: var(--primary-400);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;

  cursor: pointer;
}
button:hover {
  background-color: var(--primary);
}
button.success, button.success:active {
  background-color: var(--success-400);
}
button.success:hover {
  background-color: var(--success);
}
button.warning, button.warning:active {
  background-color: var(--warning-400);
}
button.warning:hover {
  background-color: var(--warning);
}
button.error, button.error:active {
  background-color: var(--error-400);
}
button.error:hover {
  background-color: var(--error);
}
button:disabled {
  opacity: 0.4;
  cursor: default;
}
button:disabled:hover {
  background-color: var(--primary-400);
  opacity: 0.4;
}
button.list {
  padding-left: 10px;
  font-weight: 600;
  color: var(--primary-400);
  background-color: transparent;
}
button.list span {
  color: var(--primary-400);
}
button.list:hover,
button.list:hover span {
  color: var(--primary-500);
  background-color: transparent;
}
button.list.added,
button.list.added span {
  color: var(--error-500)
}
button.list.added:hover,
button.list.added:hover span {
  color: var(--error-600)
}

/* Resizing Margins in responsive*/
@media screen and (max-width: 1400px) {
  .content {
    padding-left:4%;
    padding-right:4%;
  }
}