div.title {   
    margin-top: 80px;
}
h1 {
    color: var(--gray-50);
}
p {
    color: var(--gray-300);
    margin-top: 16px;
}
.list-title {
    margin-top: 24px;
    display: flex;
    align-items: baseline;
}
.list-movies {
    width: 100%;
    margin-top: 24px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2 {
    font-weight: 600;
    font-size: 32px;
    color: #767E94;
    margin-right: 6px;
}
p.cant {
    color: #767E94;
}

div.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
    margin-top: 80px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
button {
    background: transparent;
    font-weight: 600;
    margin: 0 2px;
}
button:hover {
    color: var(--white);
    background-color: var(--primary);
}
button:active, .active {
    color: var(--white);
    background-color: var(--primary-400);
}
.pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
}


@media screen and (max-width: 480px) {
    button {
        padding: 6px 24px;
    }
    .collapsed {
        display: none;
    }
}