<div class="title">
    <h1>PelisUP!</h1>
    <p>Plataforma para ver películas y series 😉</p>
</div>
<app-search-bar (search)="searchNow($event)"></app-search-bar>
<div class="buttons">
    <button (click)="getList('all')" [ngClass]="filter === 'all' ? 'active' : ''">Todos</button>
    <button (click)="getList('movie')" [ngClass]="filter === 'movie' ? 'active' : ''">Películas</button>
    <button (click)="getList('tv')" [ngClass]="filter === 'tv' ? 'active' : ''">Series</button>
</div>
<div id="list">
    <div class="list-title">
        <h2>{{filterShow}}</h2>
        <p class="cant">({{totalList}})</p>
    </div>
    <div class="list-movies">
        <ng-container *ngFor="let movie_serie of showList">
            <app-card [movie]="movie_serie" [type]="filter" [userId]="userId"></app-card>
        </ng-container>
    </div>
</div>
<div class="pagination">
    <button (click)="toPageArrow('-')" ng-disabled="true" class="collapsed"><<</button>
    <ng-container *ngFor="let page of info.pagination">
        <button (click)="toPage(page)" [ngClass]="{'active': info.page === page}">{{page}}</button>
    </ng-container>
    <button (click)="toPageArrow('+')" [ngClass]="{'disabled': info.page >= info.totalPage - 3}" class="collapsed">>></button>
</div>