section {
    display: flex;
    justify-content: center;
}
div {
    margin-top: 40px;
    text-align: center;
}
img {
    height: 320px;
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 16px;
}
button {
    margin-top: 24px;
}