<section>
    <div>
        <img src="../../../../assets/404.svg" alt="">
        <h2>Lost your way?</h2>
        <p>Oops! This is awkward. You are looking for something that doesn't</p>
        <p>actually exist.</p>
        <button routerLink="/"><a>Go Home</a></button>
    </div>
</section>